/*-------------section principal---------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

/*-------------section sacha---------*/
nav{
    font-size: 15px;
}

/*-------------section quentin---------*/

.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #00b7ff;
    border: 2px solid #00b7ff00;
} 

.carousel-indicators li.active{
    width: 20px;
    height: 20px;
    border: 2px solid #00b7ff;
}